<div class="hero-container">

  <div class="hero-card">

    <div class="hero-header">
      <i class="bi bi-people-fill"></i>
      Personas Registradas
    </div>

    <div class="hero-body">

      <table class="table-ine">

        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let p of persons(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
          </tr>

          <tr *ngIf="persons().length === 0">
            <td colspan="3" class="no-data">
              No hay personas registradas
            </td>
          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>