<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<header class="REDES">
    <a href="https://www.facebook.com/INEMexico" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://x.com/INEMexico" target="_blank">
        <i class="fab fa-x-twitter"></i> 
    </a>
    <a href="https://www.instagram.com/inemexico/?hl=es" target="_blank">
        <i class="fab fa-instagram"></i> 
    </a>
    <a href="https://www.youtube.com/user/IFETV" target="_blank">
        <i class="fab fa-youtube"></i> 
    </a>
    <a href="https://www.tiktok.com/@inemexico?lang=es" target="_blank">
        <i class="fab fa-tiktok"></i> 
    </a>
</header>
<nav>
     <div class="logo">
        <img src="path/to/logo.png" alt="Logo INE">
    </div>
    <a routerLink="/counter" routerLinkActive="active">Presentación</a>
    <a routerLink="/datos" routerLinkActive="active">Datos</a>
    <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Personas</a>
</nav>